{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>{{ 'title.homepage'|trans|raw }}</h1>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron">
                {% if app.user is same as(null)  %}
                    <p>
                        {{ 'help.login'|trans|raw }}
                    </p>
                    <p>
                        <a class="btn btn-primary btn-lg" href="{{ path('security_login') }}">
                            <i class="fa fa-lock" aria-hidden="true"></i> {{ 'action.login'|trans }}
                        </a>
                    </p>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <p>
                        {{ 'help.welcome_admin'|trans|raw }} 
                    </p>
                    <p>
                        <a class="btn btn-primary btn-lg" href="{{ path('admin_index') }}">
                            <i class="fa fa-user" aria-hidden="true"></i> {{ 'action.admin_dashboard'|trans }}
                        </a>
                    </p>
                    <p>
                        <a class="btn btn-primary btn-lg" href="{{ path('security_logout') }}">
                            <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'menu.logout'|trans }}
                        </a>
                    </p>
                {% endif %}

                {% if is_granted('ROLE_USER') and is_granted('ROLE_ADMIN') == false %}
                    <p>
                        {{ 'help.welcome_user'|trans|raw }} 
                        <strong>{{ app.user.username }}</strong>!
                    </p>
                    <p>
                        <a class="btn btn-primary btn-lg" href="{{ path('security_logout') }}">
                            <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'menu.logout'|trans }}
                        </a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
